.welcome-text {
  height: 100px;
  line-height: 20em;
  white-space: nowrap;
  font-size: xx-large;
  color:#fff;
}
a span{
  vertical-align: middle;
}
.white, .white a {
  color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.welcome-text {
  font-size: x-large;
}

}
