<div class="container">
  <div class="row">
          <div class="col-xs-12">
              <div class="text-center">
                  <h2>Invoice for purchase #33221</h2>
              </div>
              <hr>
              <div class="row">
                  <div class="col-xs-12 col-md-3 col-lg-3 pull-left">
                      <div class="panel panel-default height">
                          <div class="panel-heading">Invoice Details</div>
                          <div class="panel-body">
                              <strong>Jothi PVC Pipes</strong><br>
                               Dharmapuri<br>
                               TIN: 1234567890  <br>
                               BILL No: 1234<br>
                              <strong>9003631555</strong><br>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3 col-lg-3" hidden>
                      <div class="panel panel-default height">
                          <div class="panel-heading">Payment Information</div>
                          <div class="panel-body">
                              <strong>Card Name:</strong> Visa<br>
                              <strong>Card Number:</strong> ***** 332<br>
                              <strong>Exp Date:</strong> 09/2020<br>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3 col-lg-3" >
                      <div class="panel panel-default">
                          <div class="panel-heading">Order Preferences</div>
                          <div class="panel-body">
                              <strong>Payment Mode:</strong> Cash<br>
                          </div>
                          <div class="panel-body" hidden>
                              <strong>Gift:</strong> No<br>
                              <strong>Express Delivery:</strong> Yes<br>
                              <strong>Insurance:</strong> No<br>
                              <strong>Coupon:</strong> No<br>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-3 col-lg-3 pull-right">
                      <div class="panel panel-default ">
                          <div class="panel-heading">Shipping Address</div>
                          <div class="panel-body">
                              <strong>Store/Customer Name</strong><br>
                              CustomerAddress<br>
                              Customer Phone<br>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="text-center"><strong>Order summary</strong></h3>
                  </div>
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-condensed">
                              <thead>
                                  <tr>
                                      <td><strong>Item Name</strong></td>
                                      <td class="text-center"><strong>Item weight </strong></td>
                                      <td class="text-center"><strong>Item price per kg</strong></td>
                                      <td class="text-right"><strong>Total</strong></td>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of orderdata">
                                      <td>{{item.name}}</td>
                                      <td class="text-center">{{ item.weight }}</td>
                                      <td class="text-center">{{ item.price | currency:'INR':true}}</td>
                                      <td class="text-right">{{ item.itemtotal | currency:'INR':true}}</td>
                                  </tr>

                              </tbody>
                          </table>

                          <table class="table table-condensed">
                              <thead>
                                  <tr hidden="hidden">
                                      <td><strong>Item Name</strong></td>
                                      <td class="text-center"><strong>Item Price</strong></td>
                                      <td class="text-center"><strong>Item Quantity</strong></td>
                                      <td class="text-right"><strong>Total</strong></td>
                                  </tr>
                              </thead>
                              <tbody>

                                  <tr>
                                      <td class="highrow"></td>
                                      <td class="highrow"></td>
                                      <td class="highrow text-center"><strong>Subtotal</strong></td>
                                      <td class="highrow text-right">{{ totalData.subtotal | currency:'INR':true}}</td>
                                  </tr>
                                  <tr>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow text-center"><strong>Discount</strong></td>
                                      <td class="emptyrow text-right">{{ totalData.discount | currency:'INR':true}}</td>
                                  </tr>
                                  <tr>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow text-center"><strong>CGST <small> {{taxData.cgstTaxPercentile}}%</small></strong></td>
                                      <td class="emptyrow text-right">{{ taxData.cgstTaxAmt | currency:'INR':true}}</td>
                                  </tr>
                                  <tr>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow text-center"><strong>SGST <small> {{taxData.sgstTaxPercentile}}%</small></strong></td>
                                      <td class="emptyrow text-right">{{ taxData.sgstTaxAmt | currency:'INR':true}}</td>
                                  </tr>
                                  <tr>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow"></td>
                                      <td class="emptyrow text-center"><strong>Total</strong></td>
                                      <td class="emptyrow text-right">{{ totalData.total | currency:'INR':true}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>


    <div class="row space5">
      <a class="btn btn-success btn-lg" (click)="printDiv()">
        <span class="glyphicon glyphicon-print"></span> Print
      </a>
      <a href="#" class="btn btn-success btn-lg hidden">
        <span class="glyphicon glyphicon-edit"></span> Edit
      </a>
    </div>
    <div class="clear"></div>
</div>
